<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="nggentle : Simple angularJS module plugin which will allow only good words and filter out bad/swear world from input static data. simple directives here will show the bad word on type and service &#39;paragraph&#39; with &#39;isGentle&#39; method, method will take input string and find the bad/swear worlds if found return the list of bad words in input text, it checks around thousand bad/swear words and can be filtered." />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>nggentle</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/uttesh/nggentle">View on GitHub</a>

          <h1 id="project_title">nggentle</h1>
          <h2 id="project_tagline">Simple angularJS module plugin which will allow only good words and filter out bad/swear world from input static data. simple directives here will show the bad word on type and service &#39;paragraph&#39; with &#39;isGentle&#39; method, method will take input string and find the bad/swear worlds if found return the list of bad words in input text, it checks around thousand bad/swear words and can be filtered.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/uttesh/nggentle/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/uttesh/nggentle/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>
<a name="nggentle" class="anchor" href="#nggentle"><span class="octicon octicon-link"></span></a>nggentle</h1>

<p>Is an AngularJS module for simple gentle plugin which will allow only good words and filter out bad/swear world from input static data. simple directives here will show the bad word on type and service 'paragraph' with 'isGentle' method, method will take input string and find or the bad/swear worlds if found return the list of bad words in input text, it checks around thousand bad/swear words and can be filtered.</p>

<p>Mostly based on various snippets which I found on JSFiddle, with some changes by me.</p>

<h2>
<a name="quick-start" class="anchor" href="#quick-start"><span class="octicon octicon-link"></span></a>Quick start</h2>

<pre><code>bower install ngGentle
</code></pre>

<p>new version</p>

<pre><code>bower install ngGentle0.0.1
</code></pre>

<p>or alternatively download and include <code>ngGentle.js</code> after <code>angular.min.js</code>.</p>

<p>Add the <code>ngGentle</code> module as a dependency when creating your app, e.g.</p>

<pre><code>var app = angular.module('myApp', ['ngGentle']);`

Inject or use in controller

app.controller('filterCtrl', function($scope,paragraph) {
    $scope.txt = "testing the function shi+";
    console.log("gentle : "+paragraph.isGentle($scope.txt));

}); 
</code></pre>

<p>u can use in html as filter.</p>

<h2>
<a name="rendering" class="anchor" href="#rendering"><span class="octicon octicon-link"></span></a>Rendering</h2>

<pre><code>        &lt;textarea ng-model="txt" style=" width:400px;height:200px;"&gt;&lt;/textarea&gt;
        &lt;gentle ng-model="txt"&gt;&lt;/gentle&gt;
</code></pre>

<h2>
<a name="contributions" class="anchor" href="#contributions"><span class="octicon octicon-link"></span></a>Contributions</h2>

<p>For problems/suggestions please create an issue on Github.</p>

<h2>
<a name="contributors" class="anchor" href="#contributors"><span class="octicon octicon-link"></span></a>Contributors</h2>

<ul>
<li><a href="https://twitter.com/uttesh">@uttesh</a></li>
</ul><h2>
<a name="credits" class="anchor" href="#credits"><span class="octicon octicon-link"></span></a>Credits</h2>

<ul>
<li>Other uknown JSFiddles</li>
</ul>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">nggentle maintained by <a href="https://github.com/uttesh">uttesh</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
